.home {
  background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 540 960' width='540' height='960' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 107L32 107L32 59L64 59L64 126L95 126L95 97L127 97L127 39L159 39L159 145L191 145L191 107L222 107L222 164L254 164L254 126L286 126L286 116L318 116L318 107L349 107L349 49L381 49L381 68L413 68L413 97L445 97L445 78L476 78L476 155L508 155L508 49L540 49L540 164L540 0L540 0L508 0L508 0L476 0L476 0L445 0L445 0L413 0L413 0L381 0L381 0L349 0L349 0L318 0L318 0L286 0L286 0L254 0L254 0L222 0L222 0L191 0L191 0L159 0L159 0L127 0L127 0L95 0L95 0L64 0L64 0L32 0L32 0L0 0Z' fill='%23ffb703'%3E%3C/path%3E%3Cpath d='M0 241L32 241L32 174L64 174L64 241L95 241L95 222L127 222L127 155L159 155L159 279L191 279L191 193L222 193L222 203L254 203L254 222L286 222L286 241L318 241L318 164L349 164L349 155L381 155L381 174L413 174L413 164L445 164L445 164L476 164L476 251L508 251L508 155L540 155L540 203L540 162L540 47L508 47L508 153L476 153L476 76L445 76L445 95L413 95L413 66L381 66L381 47L349 47L349 105L318 105L318 114L286 114L286 124L254 124L254 162L222 162L222 105L191 105L191 143L159 143L159 37L127 37L127 95L95 95L95 124L64 124L64 57L32 57L32 105L0 105Z' fill='%2395af27'%3E%3C/path%3E%3Cpath d='M0 375L32 375L32 366L64 366L64 404L95 404L95 375L127 375L127 395L159 395L159 462L191 462L191 347L222 347L222 443L254 443L254 385L286 385L286 375L318 375L318 395L349 395L349 231L381 231L381 327L413 327L413 289L445 289L445 299L476 299L476 327L508 327L508 433L540 433L540 395L540 201L540 153L508 153L508 249L476 249L476 162L445 162L445 162L413 162L413 172L381 172L381 153L349 153L349 162L318 162L318 239L286 239L286 220L254 220L254 201L222 201L222 191L191 191L191 277L159 277L159 153L127 153L127 220L95 220L95 239L64 239L64 172L32 172L32 239L0 239Z' fill='%233b9652'%3E%3C/path%3E%3Cpath d='M0 529L32 529L32 539L64 539L64 462L95 462L95 452L127 452L127 539L159 539L159 577L191 577L191 452L222 452L222 548L254 548L254 471L286 471L286 539L318 539L318 558L349 558L349 395L381 395L381 471L413 471L413 366L445 366L445 423L476 423L476 443L508 443L508 500L540 500L540 462L540 393L540 431L508 431L508 325L476 325L476 297L445 297L445 287L413 287L413 325L381 325L381 229L349 229L349 393L318 393L318 373L286 373L286 383L254 383L254 441L222 441L222 345L191 345L191 460L159 460L159 393L127 393L127 373L95 373L95 402L64 402L64 364L32 364L32 373L0 373Z' fill='%23007667'%3E%3C/path%3E%3Cpath d='M0 798L32 798L32 827L64 827L64 673L95 673L95 587L127 587L127 663L159 663L159 711L191 711L191 750L222 750L222 779L254 779L254 711L286 711L286 635L318 635L318 817L349 817L349 740L381 740L381 615L413 615L413 663L445 663L445 817L476 817L476 798L508 798L508 798L540 798L540 788L540 460L540 498L508 498L508 441L476 441L476 421L445 421L445 364L413 364L413 469L381 469L381 393L349 393L349 556L318 556L318 537L286 537L286 469L254 469L254 546L222 546L222 450L191 450L191 575L159 575L159 537L127 537L127 450L95 450L95 460L64 460L64 537L32 537L32 527L0 527Z' fill='%23005364'%3E%3C/path%3E%3Cpath d='M0 961L32 961L32 961L64 961L64 961L95 961L95 961L127 961L127 961L159 961L159 961L191 961L191 961L222 961L222 961L254 961L254 961L286 961L286 961L318 961L318 961L349 961L349 961L381 961L381 961L413 961L413 961L445 961L445 961L476 961L476 961L508 961L508 961L540 961L540 961L540 786L540 796L508 796L508 796L476 796L476 815L445 815L445 661L413 661L413 613L381 613L381 738L349 738L349 815L318 815L318 633L286 633L286 709L254 709L254 777L222 777L222 748L191 748L191 709L159 709L159 661L127 661L127 585L95 585L95 671L64 671L64 825L32 825L32 796L0 796Z' fill='%23023047'%3E%3C/path%3E%3C/svg%3E");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 32px 24px;
  align-items: center
}

.home form {
  position: relative;
  height: 40vh;
  width: 100%;
  padding: 0 16px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 18px;
  z-index: 0;
  background: transparent;
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
}

.home form::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: -1;
  background: rgba(255, 255, 255, 0.25);
}

.home h1 {
  color: var(--light);
}

.home p {
  margin: 24px 0;
  padding-right: 88px;
  color: var(--light-blue);
  font-size: 1.8rem;
  line-height: 1.4;
}

.home input {
  width: 60%;
  margin: 24px auto;
  height: 48px;
  font-size: 2rem;
  border: none;
  border-radius: 25px;
  padding-left: 20px;
  background-color: transparent;
  backdrop-filter: contrast(58%) blur(36px);
  color: var(--light);
}

.home input::placeholder {
  color: var(--yellow);
}

.home button {
  width: 100%;
  padding: 20px;
  font-size: 2rem;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  background-color: var(--yellow);
}
