.chat {
  background-color: var(--dark-blue);
  height: 100vh;
  max-width: 1180px;
  padding: 20px;
  color: var(--light);
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 8% 84% 8%;
  grid-template-areas:
    "header header"
    "panel chat"
    "panel form";
  border-radius: 0 0 0 4px;
}

.chat ol {
  height: 76vh;
  margin-bottom: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 8px;
}

.chat form {
  display: flex;
  grid-area: form;
  width: 80%;
  margin: 0 auto;
}

.chat input {
  width: 80%;
  height: 5vh;
  border: 2px solid var(--blue);
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-right: none;
  padding-left: 24px;
  font-size: 1.6rem;
  background: transparent;
  color: var(--light);
  outline: none;
}

.chat input::placeholder {
  color: var(--light);
}

.chat button {
  height: 5vh;
  width: 12%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 2px solid var(--blue);
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-left: none;
  color: var(--light);
}

@media (max-width: 800px) {
  .chat {
    display: inherit;
  }
}
