.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 32px 24px;
  align-items: center;

}

.home form {
  padding: 24px 16px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  z-index: 0;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 100%);
}

.home label {
  color: var(--light);
}

.home select {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--dark-blue);
  height: 40px;
  font-size: 2rem;
  padding: 4px 0 4px 12px;
  width: 176px;
  color: var(--yellow);
}

.home select:focus-visible {
  outline: none;
}

.user {
  display: flex;
  flex-direction: column;
  position: relative;
}

.user span {
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--orange);
  position: absolute;
  top: 4px;
  right: 0;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.home h1 {
  color: var(--light);
  font-size: 4.8rem;
  margin-bottom: 24px;
}

.home p {
  margin: 24px 0;
  padding-right: 88px;
  color: var(--light-blue);
  font-size: 1.8rem;
  line-height: 1.4;
}

.home input {
  width: 90%;
  height: 48px;
  font-size: 2rem;
  border: none;
  padding-left: 20px;
  background-color: transparent;
  color: var(--light);
  border-bottom: 2px solid var(--dark-blue);
}

.home input::placeholder {
  color: var(--yellow);
}

.home input:focus-visible {
  outline: none;
}

.home option{
  background: var(--dark-blue);
}

.home button {
  padding: 16px;
  font-size: 2rem;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  background-color: var(--blue);
}
